/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    width: 100%;
    width: 700px;
    margin: auto;
    color:#000000;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}
h3 {
    font-size: 12px;
    margin-top: 20px;
    text-align: center;
    color: #e7e7e7;
}

button, .switch {
    cursor: pointer;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007AFF;
    color: white;
    border: none;
    width: 100%;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

li span, li button {
    flex: 1;
}

li button {
    background-color: #FF4757;
    margin-left: 10px;
    transition: background-color 0.3s;
}

li button:hover {
    background-color: #d4001f;
}

/* Controls container for placing elements neatly */
.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color: #000000;
    border-radius: 10px;
}

#options {
    padding: 8px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
}

/* Dark mode toggle styling */
.top-right-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

/* Tooltip container */
.result-item span[title] {
    position: relative;
    cursor: help;
}

/* Tooltip text */
.result-item span[title]:hover::after {
    content: attr(title);
    position: absolute;
    bottom: 125%; /* Adjust based on your layout */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Tooltip arrow */
.result-item span[title]:hover::before {
    content: "";
    position: absolute;
    bottom: 120%; /* Adjust based on your layout */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 1;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.sorting-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.sorting-buttons button {
    padding: 10px 20px;
    background-color: #007AFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Sorting switch styling */
.sorting-container {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 20px;
}

.sort-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.sort-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.sort-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

input:checked + .sort-slider {
    background-color: #2196F3;
}

input:focus + .sort-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sort-slider:before {
    transform: translateX(26px);
}

.sort-icon {
    font-size: 20px;
    color: white;
}

/* Dark mode styles when user prefers dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #ccc;
    }

    li,
    button,
    .controls-container,
    #options {
        background-color: #333; /* Dark gray for elements */
        color: #d4d4d4;
    }
    h1 {
        color: #d4d4d4;
    }
    h3 {
        font-size: 12px;
        margin-top: 20px;
        text-align: center;
        color: #535353;
    }

    .course-li{
        background-color: #333; /* Dark gray for elements */
        color: #d4d4d4;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.178);
    }

    button {
        background-color: #007AFF;
    }

}
